body {
    font-family: 'Roboto',
    sans-serif;
    margin: 0;
}

.header {
    background-color:#1b2127;
    color:white;
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}

.header img {
    height:50px ;
}
figure {
    margin:0;
}

.menu {
    height: inherit;
}

.menu ol, li {
    margin: 0;
    padding: 0;
    list-style: none;
    height: inherit;
}

.menu ol {
    display: flex;
    height: inherit;
}

.link {
    color:white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.hero {
    height: 300px;
    background-image:url('../assets/images/hero.jpg');
    background-size: 500px 300px;
    background-repeat:no-repeat;
    background-position-x: right;
    background-color: #1b2127;
    display: flex;
    align-items: center;
}

.hero h1 {
    letter-spacing: -.2px;
    font-size: 30px;
    line-height: 1.5;
    color:white;
    margin: 0;
}

.hero span {
    color:blueviolet;
}

.portfolio {
    background:#fafafa;
    padding: 20px;
}

h2 {
    color: #026fff;
    text-transform: uppercase;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:20px;
    margin-bottom: 40px;
}

.project {
    border: solid gray 1px;
    border-radius: 10px;
    margin-bottom: 15px;
    padding:20px;
    margin: 10px 10px 15px;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.project-details {
    width: 500px;
}

.project-title {
    font-size: 30px;
    margin:0 0 10px;
}

.project-course {
    margin:10px 0;
    font-size:15px;
}

.project-date, .project-link {
    margin:10px 0;
}

.project-description {
    font-size: 20px;
}

.project-imageContainer {
    width: 500px;
}

.footer {
    background: #1b2127;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer img {
    width: 80px;
    vertical-align: middle;
}